html,body{
  width: 100%;
  height: 100%;

}

#root{
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.toggler{
  display: flex;
  justify-content: flex-start;
}

.sidebar{
  width: 18%;
  height : 100%;
  background-color : #03020E;
  color: white;
  display: flex;
  flex-direction: column;
}

.leftNav {
  padding: 10px;
  width: 100%;
  height: 45px;
  line-height: 20px;
  cursor: pointer;
  overflow: hidden;
}

.leftNav:nth-child(1){
  background-color: #3F3D3D;
}

.sidebar[data-isOn="true"]{
  width: 9%;
}

.rightNav{
  width: 82%;
}

.rightNav[data-isOn="true"]{
  width: 91%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
